* {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: rgb(255, 208, 0);
  display: block;
  padding: 20px 20px;
}
a:hover {
  background-color: rgb(10, 5, 56);
  color: rgba(7, 79, 173, 0.671);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: url("./medicos.jpg");
  background-size: 100%;
  
  background-color: #fafafa;
}
ul {
  list-style: none;
  top: 70px;
  width: 100%;
  position: absolute;
}

img {
  width: 40px;
}

input[type="checkbox"] {
  display: none;
}
nav {
  background-color: rgba(16, 16, 16, 0.5);
  color: azure;
  width: 350px;
  height: 100%;
  left: -350px;
  position: absolute;
  transition: all 0.5s;
}
input[type="checkbox"]:checked ~ nav {
  transform: translateX(350px);
}

label {
  padding: 15px;
  position: absolute;
  z-index: 1;
}
footer {
  position: flex;
  justify-content: end;
}

#nm-top {
  margin-left: 350px;
  text-decoration: overline;
  text-align: start;
  margin-top: 15px;
}
content {
  justify-content: center;
  text-align: center;
}
.fixarRodape {
  bottom: 0;
  position: fixed;
  width: 100%;
  text-align: center;
}
#container {
  bottom: 3px;
  position: fixed;
  width: 75%;
  text-align: center;
  position: relative;
  top: 215px;
  left: 190px;
}
.container2 {
    bottom: 3px;
    position: fixed;
    width: 75%;
    text-align: center;
    position: relative;
    top: 200px;
    left: 190px;
  }
  
table, th, td {
    border: 1px;
    border-collapse: collapse;
}
.h1{
  margin-top: 35px;

}
h4{
  width: 80%;
  font-style: italic;
  color: -wp--preset--gradient--blush-bordeaux: linear-gradient(135deg,#fecda5 0%,#fe2d2d 50%,#6b003e 100%);
}