* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #f5e5e5;
}

.logo {
  display: flex;
  min-width: 100%;
  min-height: 100%;
  max-width: 300px;
  max-height: 100%;
  flex-wrap: wrap;
}

h2 {
  margin-top: 15px;
}

.textto1 {
  text-align: justify;
  margin-left: 7px;
}

.titulo1 {
  align-self: start;
  margin-top: 25px;
}

.lista {
  padding: 3px;
  margin-top: initial;
  text-align: unset;
  font-family: arial;
  font-size: 16px;
}
h6 {
  font-size: 16px;
}
.Era_Vargas {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 350px;
}
#header-img {
  width: 250px;
}
